.App {
  padding: 40px 36px 20px 36px;
}

.MemberTypes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-basis: 33.333%;
  flex-grow: 0;
  flex-shrink: 0;

  > * {
    flex: 1;
  }
}
