@import 'variables';

.dropdown-menu {
  .button {
    height: 40px;
    width: 50%;
    cursor: pointer;
    background-color: $bg-very-light;
    border: 1px solid $border-dark;
    @media only screen and (max-width: 1000px) {
      width: 100%;
    }
  }
}
