@import 'variables';

.dropdown-menu {
  .label {
    position: absolute;
    padding: 12px 0 0 10px;
    color: $font-grey;
    cursor: pointer;
    background-color: $bg-very-light;
    margin-left: 1px;
    margin-top: 1px;
    &.selected {
      margin-top: -7px;
      font-size: 12px;
      left: 100px;
      padding-left: 2px;
      padding-right: 2px;
      padding-top: 0;
      transition: margin-top 2s ease;
      transition: font-size 2s ease;
      transition: left 2s ease;
      transition: padding-left 0.1s ease;
      transition: padding-right 0.1s ease;
      transition: padding-top 0.1s ease;
    }
  }

  .button {
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    cursor: pointer;
    padding-left: 10px;
    background-color: $bg-very-light;
    border: 1px solid $border-very-light-grey;
    height: 40px;
    width: 50%;
    @media only screen and (max-width: 1000px) {
      width: 100%;
    }
    &.menu-selected {
      border: 1px solid $border-dark-blue;
    }
    &.opened {
      border-top: 1px solid $border-dark-blue;
      border-left: 1px solid $border-dark-blue;
      border-right: 1px solid $border-dark-blue;
      border-bottom: 0;
    }
    &.error {
      border: 1px solid $border-error;
    }
    .caret {
      float: right;
      font-size: 20px;
      font-weight: bold;
      color: $font-dark-grey;
      transform: rotate(0deg);
      transition: transform 0.25s ease;
      &.up {
        transform: rotate(180deg);
        transition: transform 0.25s ease;
      }
    }
  }

  .menu {
    background-color: $bg-very-light;
    border-top: 0;
    border-left: 1px solid $border-dark-blue;
    border-right: 1px solid $border-dark-blue;
    border-bottom: 1px solid $border-dark-blue;
    overflow-x: hidden;
    height: 200px;
    position: absolute;
    width: 40%;
    .list {
      position: relative;
      list-style-type: none;
      padding: 0;
      margin: 0;
      height: 360px;
      .item {
        padding-top: 15px;
        height: 35px;
        padding-left: 10px;
        cursor: pointer;
        border-bottom: 1px solid$border-very-light-grey;
        .item:hover {
          background-color: $bg-light-grey;
        }
      }
      .item:hover {
        background-color: $bg-light-grey;
        color: blue;
      }
    }
  }
}
