@import 'variables';

.member-type {
  padding: 0 15px 0 15px;
  .wrapper {
    border: 1px solid $border-very-dark;
    cursor: pointer;
    .header {
      background-color: $bg-very-light-grey;
      padding: 24px;
      .type {
        font-size: 18px;
        font-weight: 700;
      }
      .cost {
        color: $font-light-blue;
        font-size: 36px;
      }
      .non-refundable {
        font-size: 14px;
        font-weight: 400;
      }
      .description {
        font-size: 15px;
        font-weight: 500;
      }
    }
    .body {
      font-weight: 400;
      font-size: 14px;
      padding: 24px;

      .requirement {
        border-bottom: 0.8px solid $border-light-grey;
        margin-bottom: 8px;
        padding-bottom: 8px;
      }
      .age-requirement {
        line-height: 21px;
      }
    }
  }
}
