.spacing {
  .top-small {
    padding-top: 10px;
  }
  .top-medium {
    padding-top: 20px;
  }
  .top-large {
    padding-top: 30px;
  }
  .bottom-small {
    padding-bottom: 10px;
  }
  .bottom-medium {
    padding-bottom: 20px;
  }
  .bottom-large {
    padding-bottom: 30px;
  }
  .left-small {
    padding-left: 10px;
  }
  .left-medium {
    padding-left: 20px;
  }
  .left-large {
    padding-left: 30px;
  }
  .right-small {
    padding-right: 10px;
  }
  .right-medium {
    padding-right: 20px;
  }
  .right-large {
    padding-right: 30px;
  }
}
