$font-light-blue: #1178ce;
$font-very-light: #fff;
$font-very-dark: #000;
$font-standard-face: 'Circular Black', sans-serif;

$bg-very-light-grey: #f7f9fb;
$bg-very-light: #fff;
$bg-light-blue: #1178ce;

$border-light-grey: #eef0f5;
$border-light: #cecece;
$border-very-dark: #000;

$link-color: #1178ce;
$link-hover-color: #489cf2;
$link-active-color: #0d72d1;
$link-visited-color: #1b90fd;

$error-message: #cd3533;

$button-continue-background: #1178ce;
$button-continue-background-hover: #175da7;
$button-continue-border: #1178ce;
$button-continue-border-hover: #1178ce;
$button-continue-label: $font-very-light;
$button-continue-label-hover: $font-very-light;

$button-cancel-background: #fff;
$button-cancel-background-hover: #ededed;
$button-cancel-border: #cecece;
$button-cancel-border-hover: #cecece;
$button-cancel-label: $font-very-dark;
$button-cancel-label-hover: $font-very-dark;

$button-default-background: #fff;
$button-default-background-hover: #eee;
$button-default-border: #000;
$button-default-border-hover: #000;
$button-default-label: $font-very-dark;
$button-default-label-hover: $font-very-dark;
