$font-light-blue: rgb(17, 120, 206);
$font-very-dark: #000;
$font-standard-face: 'Circular Black', sans-serif;
$bg-very-light-grey: #f7f9fb;
$bg-very-light: #fff;
$border-light-grey: rgb(238, 240, 245);
$border-very-dark: #000;
