$font-light-blue: rgb(17, 120, 206);
$font-very-dark: #000;
$font-standard-face: 'Circular Black', sans-serif;

$bg-very-light-grey: #f7f9fb;
$bg-very-light: #fff;

$border-light-grey: rgb(238, 240, 245);
$border-very-dark: #000;

$link-color: #1178ce;
$link-hover-color: #489cf2;
$link-active-color: #0d72d1;
$link-visited-color: #1b90fd;

$error-message: rgb(205, 53, 51);
